/* bangers-regular - latin */
@font-face {
    font-family: 'Bangers';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/bangers-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Bangers Regular'), local('Bangers-Regular'),
    url('../fonts/bangers-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/bangers-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/bangers-v13-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/bangers-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/bangers-v13-latin-regular.svg#Bangers') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Asparagus Sprouts";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Asparagus_Sprouts.eot?") format("eot"),
    url("../fonts/Asparagus_Sprouts.woff") format("woff"),
    url("../fonts/Asparagus_Sprouts.ttf") format("truetype");
}

@font-face {
    font-family: 'Kirsty Regular';
    font-style: normal;
    font-weight: bold;
    src: local('Kirsty Regular'), url('../fonts/kirsty__.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

.main-block {
    width: 100%;
    height: 100vh;
    padding-top: 16.4vh;
    background-image: linear-gradient(to right bottom, #0286C3 0%, #0286C3 50%, #ee2f4D 50%, #ee2f4D 100%), linear-gradient(to right bottom, #0286C3 0%, #0286C3 50%, #ee2f4D 50%, #ee2f4D 100%), linear-gradient(to right, #0286C3 0%, #0286C3 50%, #ee2f4D 50%, #ee2f4D 100%);
    background-repeat: no-repeat, no-repeat, repeat-y;
    background-position: top 0 left 25vw, top 50vh left 50vw, center;
    background-size: 25vw 50vh, 25vw 50vh, 100% 100%;
}

.main-block__container {
    display: flex;
    justify-content: space-between;
    max-width: 1796px;
    margin: 0 auto;
    padding-left: 49px;
    padding-right: 40px;
}

.main-block__title-left,
.main-block__title-right {
    text-align: center;
}

.main-block__title {
    font-family: Bangers, Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #FFFCFC;
    text-shadow: #00000029 0 6px;
    margin-bottom: 5px;
}

.main-block__subtitle {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #FFFCFC;
    text-transform: uppercase;
}

.mobile-block__container {
    position: fixed;
    width: 99%;
    height: 210px;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 12px 0 12px;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.mobile-logo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2vh;
}

.mobile-logo-1 {
    width: 28px;
}

.mobile-logo-2 {
    width: 50px;
    height: 20px;
}

.mobile-titles-block {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.mobile-block__title-left {
    margin-right: 9px;
}

.mobile-block__title {
    font-family: Bangers, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFCFC;
}

.signup-mobile__title {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFCFC;
    margin-bottom: 15px;
    text-align: center;
}

.mobile-request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Kirsty Regular, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    width: 193px;
    height: 38px;
    border-radius: 23px;
    background-color: #FBB22E;
    border: none;
    outline: none;
    box-shadow: 0 0 6px #00000067;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
}

.phone {
    position: absolute;
    width: 19.79vw;
    height: 87.5vh;
    top: 6%;
    left: 42%;
}

.phone-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.phone__label {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.phone__video {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    outline: none;
}

.signup-block {
    position: absolute;
    bottom: 1.9vh;
    left: 3.35vw;
}

.signup-block__title {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 1.84vw;
    font-weight: 400;
    color: #FFFCFC;
    text-align: center;
}

.signup-block__form {
    width: 32.66vw;
    height: 409px;
    background-color: #4b334d;
    border-radius: 28px;
    padding: 19px 42px 0 42px;
}

.gform-logo {
    width: 13.28vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 1.61vw;
}

.gform-logo-1 {
    width: 56px;
    height: 56px;
}

.gform-logo-2 {
    width: 88px;
    height: 33px;
}

.gform__row-1 {
    margin-bottom: 3vh;
}

.gform__row-1-block {
    display: flex;
    align-items: center;
}

.gform__row-1-block:first-child {
    margin-bottom: 15px;
}

input, select {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #FFFCFCB2;
    width: 13.28vw;
    height: 43px;
    border-radius: 14px;
    border: none;
    outline: none;
}

.fullname,
.country,
.age {
    color: #FFFCFCB2;
    background-color: #818181BF;
    padding-left: 12px;
}

.fullname::placeholder,
.user-email::placeholder,
.friends-email::placeholder {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #FFFCFCB2;
}

.gform__row-2 {
    margin-bottom: 3vh;
}

.gform__row-2-block {
    display: flex;
}

.gform__row-2-text {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFCFC;
    text-align: left;
    margin-bottom: 15px;
}

.user-email {
    background-color: #0286C3BF;
    background-image: url("../img/email.svg");
    background-position-x: 10px;
    background-position-y: center;
    background-repeat: no-repeat;
    margin-right: 1.61vw;
    padding-left: 45px;
}

.friends-email {
    background-color: #EE2F4DBF;
    background-image: url("../img/smartphone.svg");
    background-position-x: 8px;
    background-position-y: center;
    background-repeat: no-repeat;
    padding-left: 29px;
}

.country {
    margin-right: 1.61vw;
}

.gform__row-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-button {
    font-family: Kirsty Regular, Arial, sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #000;
    width: 262px;
    height: 53px;
    border-radius: 23px;
    background-color: #FBB22E;
    border: none;
    outline: none;
    margin-bottom: 3vh;
    box-shadow: 0 0 6px #00000067;
    cursor: pointer;
}

.text-bysign {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #FFFCFCBF;
}

.terms-link,
.privacy-link {
    color: #FFFCFCBF;
    text-decoration: underline;
}

.countdown {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.countdown__gform-logo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    margin-bottom: 3px;
}

.countdown__timer {
    width: 92px;
    height: 92px;
    background-color: #0286C3;
    border: 5px solid #EE2F4D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
}

.countdown__number {
    font-family: Arial, sans-serif;
    font-size: 47px;
    font-weight: 400;
    color: #FFFCFC;
}

.countdown__text {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #FFFCFC;
    text-align: center;
}

.accepted {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.accepted__gform-logo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.accepted__gform-logo > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.congratulations {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #FFFCFC;
    padding-right: 0.41vw;
}

.accepted__msg {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFCFC;
}

.contacts {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFCFC;
    position: absolute;
    top: 85vh;
    left: 70%;
    text-shadow: 0 3px 50px #00000029;
}

.contacts a {
    color: #FFFCFC;
    text-decoration: none;
}

.copyright {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    top: 96vh;
    left: 52%;
    transform: translateX(-50%);
}

.mobile-signup-block {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    padding: 40px 30px 0 30px;
    overflow: auto;
    display: none;
}

.signup-mobile__form {
    width: 100%;
    height: 100%;
}

.mobile-gform {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-countdown {
    display: none;
}

.mobile-accepted {
    display: none;
}

.mobile-countdown.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 250px;
}

.mobile-countdown__number {
    font-family: Arial, sans-serif;
    font-size: 47px;
    font-weight: 400;
    color: #FFFCFC;
}

.mobile-accepted.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 250px;
}

.mobile-congratulations {
    font-size: 38px;
    margin-bottom: 20px;
}

.mobile-accepted__msg {
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFCFC;
}

.mobile-gform-logo {
    width: 100%;
    margin: 0 0 25px 0;
}

.mobile-country,
.mobile-age,
.mobile-fullname,
.mobile-user-email,
.mobile-friends-email {
    width: 100%;
}

.mobile-country,
.mobile-age {
    margin-right: 0;
    margin-bottom: 15px;
}

.mobile-fullname {
    margin-bottom: 30px;
}

.mobile-user-email {
    margin-right: 0;
    margin-bottom: 15px;
}

.mobile-gform-text {
    font-size: 23px;
}

.mobile-friends-email {
    margin-bottom: 30px;
}

.mobile-submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Kirsty Regular, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    width: 193px;
    height: 38px;
    border-radius: 23px;
    background-color: #FBB22E;
    border: none;
    outline: none;
    margin-bottom: 15px;
    box-shadow: 0 0 6px #00000067;
    padding: 0;
    cursor: pointer;
}

.mobile-text-bysign {
    font-size: 12px;
    margin-bottom: 20px;
}

.mobile-contacts {
    width: 100%;
    font-family: Asparagus Sprouts, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFFCFCBF;
    text-shadow: 0 3px 50px #00000029;
    text-align: center;
    margin-bottom: 25px;
}

.mobile-contacts a {
    color: #FFFCFCBF;
    text-decoration: none;
}

.mobile-copyright {
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #FFFCFCBF;
    text-align: center;
    margin-bottom: 20px;
}

.mobile-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 33px;
}

.mobile-close span:first-child {
    position: absolute;
    width: 30px;
    height: 3px;
    top: 13px;
    right: 0;
    transform: rotate(45deg);
    background-color: #fff;
}

.mobile-close span:last-child {
    position: absolute;
    width: 30px;
    height: 3px;
    top: 13px;
    right: 0;
    transform: rotate(-45deg);
    background-color: #fff;
}

@media screen and (max-width: 1550px) {

    .main-block {
        padding-top: 5.4vh;
    }

    .main-block__container {
        max-width: 585px;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 auto 0 135px;
    }

    .main-block__title-left {
        margin-bottom: 20px;
    }

    .main-block__title {
        font-size: 45px;
    }

    .main-block__subtitle {
        font-size: 27px;
    }

    .phone {
        width: 335px;
        left: 65%;
    }

    .signup-block__form {
        width: 627px;
    }

    .signup-block__title {
        font-size: 36px;
    }

    .gform-logo {
        width: 255px;
    }

    input, select {
        width: 255px;
    }

    .gform__row-2-text br {
        display: none;
    }

    .contacts {
        display: none;
    }

    .copyright {
        left: 67%;
        transform: none;
    }
}

@media screen and (max-width: 1100px) {

    .main-block {
        padding-top: 10vw;
    }

    .main-block__container {
        margin: 0 auto 0 10vw;
    }

    .main-block__title {
        font-size: 3.5vw;
    }

    .main-block__subtitle {
        font-size: 2vw;
    }

    .phone {
        width: 30.2vw;
        height: auto;
        top: 10%;
    }

    .signup-block__form {
        width: 55.66vw;
        height: unset;
        padding-bottom: 19px;
    }

    .signup-block__title {
        font-size: 3.2vw;
    }

    .gform-logo {
        width: 23.28vw;
    }

    .mobile-gform-logo {
        width: 100%;
    }

    input, select {
        width: 23.28vw;
    }

    .gform__row-1,
    .gform__row-2,
    .request-button {
        margin-bottom: 2vh;
    }
}

@media screen and (max-width: 830px) {
    .main-block {
        height: 725px;
    }

    .main-block__container {
        display: none;
    }

    .phone {
        width: 325px;
        height: 700px;
        top: 2vh;
        left: 50%;
        transform: translateX(-50%);
    }

    .phone__label {
        top: 43px;
    }

    .signup-block {
        display: none;
    }

    .copyright {
        display: none;
    }

    .mobile-signup-block.active {
        display: block;
    }

    .mobile-block__container {
        display: block;
    }

}

@media screen and (max-width: 600px) {

    .main-block {
        height: 100vh;
    }

    .phone {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: none;
        overflow: auto;
    }

    .phone__video {
        min-height: 100%;
        width: 100%;
        height: auto;
    }

    .mobile-block__container {
        width: 100%;
        height: 50vw;
        bottom: 0;
    }

    .mobile-block__title {
        font-size: 5vw;
    }
}